@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');


.link { 
  width: 100px;
  height: 100px;
  background: red;
}

.link-selected {
  background: yellow;
}

.stars {
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png) top center #000;
}

.twinkling {
  background: url(http://www.script-tutorials.com/demos/360/images/twinkling.png) top center;
  animation-name: move-twink-back;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

.stars, .twinkling {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
}

.stars, .twinkling {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.logo {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.title { 
  font-family: 'Bungee Shade';
  font-size: 4em;
}

.subtitle {
  font-family: 'Fredoka One';
  font-size: .75em;
  color: #FFF;
  letter-spacing: 1em;
  margin: 2px 0;
}

.title-color {
  color: #FFEE58!important;
}

.home-page {
  width: 80%;
  margin:  50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 31.76157%;
}

.category:nth-child(3n+1) {
  margin-right: 10px;
}

.category:nth-child(3n+2) {
  margin-right: 10px;
  }

.link {
  text-decoration: none;
  color: #FFEE58!important;
  font-family: 'Fredoka One';
}

.card {
  width: 100%;
}

.card-title {
  padding-left: 1em;
  padding-right: 15.23em;
  background-color: rgba(0,0,0,.4);
  position: relative;
  bottom: 40px;
  text-transform: uppercase;
}

.card-img {
  width: 100%;
}

.card-details {
  width: 80%;
  border: 1px solid white;
  background: white;
  opacity: 0.8;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.left-block {
  width: 35%;

}

.right-block {
  width: 75%;
  padding: 90px;
}




/* @keyframes move-twink-back{
  from{background-position:0 0}
  to{background-position:-10000px 5000px}
} */